#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul{
  list-style-type: none;
}



.profile-container {
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.name-container{
  padding-top: 20px;
  padding-bottom: 20px;

}

.profile-img{
  background-color: gray;
  border-radius: 50%;
}

.profile-name{
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;

}

.profile-info {
  color:gray;
}

.profile-stats-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

}

.profile-status-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100%/3);
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.profile-status-item:not(:first-child){
  border-left:2px solid gray; ;
}

.stats-bolt {
  font-weight: 700;
}

.friend-list{
  padding-left:0 ;
display: flex;
justify-content: center;
gap: 6px;
}

.friend-list-item{
  padding: 10px 5px;
  border: 2px solid black;
  border-radius: 5px;
}